<h2>To Do List App</h2>
<div>
  <form [formGroup]="addTaskForm" class="task-form">
    <input type="text" class="form-control add-input" placeholder="Task details" formControlName="taskDetails">
    <button #task type="button" id="add-task" class="btn btn-primary add-task" (click)="addTask()">Add
      Task</button>
  </form>
</div>
<section>

  <table class="table table-light pending-task-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pendingTodo of pendingToDoList;let i = index;">
        <th scope="row"><input type="checkbox" class="form-check-input" name="check" id="check"
            (click)="checkEvent1($event,pendingTodo,i)">
        </th>
        <td>
          {{pendingTodo}}
      </tr>
    </tbody>
  </table>


  <table class="table table-light completed-task-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let completedToDo of completedToDoList;let i = index;">
        <th scope="row"><input type="checkbox" class="form-check-input" name="check" id="check"
            (click)="checkEvent2($event,completedToDo,i)">
        </th>
        <td>
          {{completedToDo}}
      </tr>
    </tbody>
  </table>

</section>
