* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 15px 30px;
}
h2 {
  text-align: center;
  padding: 30px 60px;
}
table {
  border: 1px solid #008080;
}
.table-title {
  text-align: center;
}
.task-form {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 2%;
}
.add-input {
  width: 50%;
}
.add-task {
  padding: 5px 10px;
}
.completed-task-table td {
  text-decoration: line-through;
}
.pending-taask-div,
.completed-task-div {
  width: 100%;
}
